@{
    ViewData["Title"] = "Slot CRUD Page";
}


<div ng-controller="slotCtrl">
   
     <H2 class="glyphicon glyphicon-flash">Slot Management</H2>
  
      <div class="col-sm-12">
    
              <div class="col-sm-4">

            <h3>Slot CRUD</h3>
            <table class="table table-responsive">
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        <input type="text" ng-model="nextId" />

                    </td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text" ng-model="SlotName" />
                    </td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td>
                        <input type="text" ng-model="Description" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" id="SlotBtn" ng-click="addSlot(nextId,SlotName,Description)" value="Submit" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Edit Slot</h3>
            <table class="table table-responsive">
                <tr>
                    <td>
                        <input type="text" ng-model="EachSlotlist.slotNo" ng-show="false" /><br />
                        Name
                    </td>
                    <td>
                        <input type="text" ng-model="EachSlotlist.slotName" />

                    </td>
                </tr>
                <tr>
                    <td>
                        Note
                    </td>
                    <td>
                        <input type="text" ng-model="EachSlotlist.description" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" id="SlotBtn" ng-click="updateSlot(EachSlotlist.slotNo,EachSlotlist.slotName,EachSlotlist.description)" value="Submit" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Slot List</h3>
         
                <table class="table table-responsive">
                    <thead>

                        <tr><td>Slot No</td><td>Name</td><td>Description</td><td></td></tr>

                    </thead>

                    <tbody ng-repeat="item in Slotlist">

                        <tr><td><a href="" ng-click="eachSlot(item.slotNo)">{{item.slotNo}} Edit</a></td><td>{{item.slotName}}</td><td>{{item.description}}</td><td><button ng-click="deleteSlot(item.slotNo)" class="btn btn-danger">Delete</button></td></tr>

                    </tbody>
                </table>
         
        </div>
    </div>

    <p ng-show="errMsg" class="alert alert-danger">{{errMsg}}</p>


 </div>

