@{
    ViewData["Title"] = "Slot CRUD Page";
}

<div ng-controller="teaitemCtrl">

    <H2 class="glyphicon glyphicon-flash">Tea Item Management</H2>

    <p ng-show="errMsg" class="alert alert-danger">{{errMsg}}</p>

    <p class="alert alert-warning" ng-hide="TeaItemlist">please wait...</p>

    <div class="col-sm-12">
        <div class="col-sm-4">
            <h3>Tea Item CRUD</h3>
            <table class="table table-responsive">
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        <input type="text" ng-model="nextId" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text" ng-model="itemName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        CategoryId
                    </td>
                    <td>
                        <input type="text" ng-model="categoryId" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ItemPrice
                    </td>
                    <td>
                        <input type="text" ng-model="itemPrice" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ItemUnit
                    </td>
                    <td>
                        <input type="text" ng-model="itemUnit" />
                    </td>
                </tr>

                <tr>
                    <td>
                        UnitNumber
                    </td>
                    <td>
                        <input type="text" ng-model="unitNumber" />
                    </td>
                </tr>

                @*here*@

                <tr>
                    <td>
                        MeasureUnit
                    </td>
                    <td>
                        <input type="text" ng-model="measureUnit" />
                    </td>
                </tr>


                <tr>
                    <td>
                        Sizes
                    </td>
                    <td>
                        <input type="text" ng-model="sizes" />
                    </td>
                </tr>

                <tr>
                    <td>
                        ItemType
                    </td>
                    <td>
                        <input type="text" ng-model="itemType" />
                    </td>
                </tr>


                <tr>
                    <td>
                        ProductDate
                    </td>
                    <td>
                        <input type="datetime" ng-model="productDate" />
                    </td>
                </tr>

                <tr>
                    <td>
                        StorageDate
                    </td>
                    <td>
                        <input type="datetime" ng-model="storageDate" />
                    </td>
                </tr>
             
                <tr>
                    <td>
                        ItemTaken
                    </td>
                    <td>
                        <input type="text" ng-model="itemTaken" />
                    </td>
                </tr>

                <tr>
                    <td>
                        Imagepath
                    </td>
                    <td>
                        <input type="text" ng-model="imagepath" />
                    </td>
                </tr>

                @*here*@
                <tr>
                    <td></td>
                    <td>
                        <input type="button" id="SlotBtn" ng-click="addTeaItem(nextId,itemName,categoryId,itemPrice,itemUnit,unitNumber ,measureUnit,sizes,itemType,productDate,storageDate,itemTaken,imagepath)" value="Submit" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Edit Item</h3>
            <table class="table table-responsive">
                <tr>
                    <td>
                        <input type="text" ng-model="EachItemlist.id" ng-show="false" /><br />
                        Name
                    </td>
                    <td>
                        <input type="text" ng-model="EachItemlist.itemName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        CategoryId
                    </td>
                    <td>
                        <input type="text" ng-model="EachItemlist.categoryId" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Price
                    </td>
                    <td>
                        <input type="text" ng-model="EachItemlist.itemPrice" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Unit
                    </td>
                    <td>
                        <input type="text" ng-model="EachItemlist.itemUnit" />
                    </td>
                </tr>

                <tr>
                    <td>
                        Items in Unit
                    </td>
                    <td>
                        <input type="text" ng-model="EachItemlist.unitNumber" />
                    </td>
                </tr>

         
                <tr>
                    <td>
                        measureUnit
                    </td>
                    <td>
                        <input type="text" ng-model="EachItemlist.measureUnit" />
                    </td>
                </tr>

                <tr>
                    <td>
                        sizes
                    </td>
                    <td>
                        <input type="text" ng-model="EachItemlist.sizes" />
                    </td>
                </tr>
                
                <tr>
    <td>
        itemType
    </td>
    <td>
        <input type="text" ng-model="EachItemlist.itemType" />
    </td>
</tr>
                <tr>
                    <td>
                        productDate
                    </td>
                    <td>
                        <input type="datetime" ng-model="EachItemlist.productDate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        storageDate
                    </td>
                    <td>
                        <input type="datetime" ng-model="EachItemlist.storageDate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        itemTaken
                    </td>
                    <td>
                        <input type="datetime" ng-model="EachItemlist.itemTaken" />
                    </td>
                </tr>
                <tr>
                    <td>
                        imagepath
                    </td>
                    <td>
                        <input type="datetime" ng-model="EachItemlist.imagepath" />
                    </td>
                </tr>
               

                <tr>
                    <td></td>
                    <td>
                        <input type="button" id="SlotBtn" ng-click="updateTeaItem(EachItemlist.id,EachItemlist.itemName,EachItemlist.categoryId,EachItemlist.itemPrice,EachItemlist.itemUnit,EachItemlist.unitNumber)" value="Submit" class="btn btn-primary" />
                    </td>
                </tr>
            </table>

        </div>



        <div class="col-sm-4">
            <h3>Tea Item List</h3>
        
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>CategoryId</td>
                            <td>Unit Price</td>
                            <td>Unit</td>
                            <td>Items in Unit</td>
                            <td>Measure Unit</td>
                            <td>Sizes</td>
                            <td>ItemType</td>
                            <td>ProductDate</td>
                            <td>StorageDate</td>
                            <td>ItemTaken</td>
                            <td>Imagepath</td>
                         </tr>
                    </thead>
                    <tbody ng-repeat="item in TeaItemlist">
                        <tr>
                            <td><a href="" ng-click="eachTeaItem(item.id)">{{item.id}} Edit</a></td>
                            <td>{{item.itemName}}</td>
                            <td>{{item.categoryId}}</td>
                            <td>{{item.itemPrice}}</td>
                            <td>{{item.itemUnit}}</td>
                            <td>{{item.unitNumber}}</td>
                            <td>{{item.measureUnit}}</td>
                            <td>{{item.sizes}}</td>
                            <td>{{item.itemType}}</td>
                            <td>{{item.productDate}}</td>
                            <td>{{item.storageDate}}</td>
                            <td>{{item.itemTaken}}</td>
                            <td>{{item.imagepath}}</td>
                            <td><button ng-click="deleteTeaItem(item.id)" class="btn btn-danger">Delete</button></td>
                        </tr>

                    </tbody>
                </table>
         
        </div>
    </div>


</div>

