@{
    ViewData["Title"] = "Home Page";
}

<style>
     .tlabel{
        width: 2.5in; /* plus .6 inches from padding */
        
        height: 2.0in; /* plus .125 inches from padding */
        
        padding: .125in .3in 0;
        
        margin: .125in; /* the gutter */

        float: left;

        text-align: center;
       
        outline: 1px dotted; /* outline doesn't occupy space like border does */
        }
</style>

<div ng-controller="labelCtrl" class="col-sm-12">
   
     <a ui-sref="labelsearchview">Search Label</a>
  
      <div class="list-group">
         <a ui-sref="labelsearchview"  class="btn btn-primary">Search Label</a>
      </div>

    <ui-view>
        <p>This is the label SPA page to manage label</p>
    </ui-view>

    <p ng-show="errMsg" class="alert alert-danger">{{errMsg}}</p>

</div>

